[Desktop Entry]
Name=Simple Weather
Comment=

Type=Service
Icon=weather-clear
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Chris Holland
X-KDE-PluginInfo-Email=zrenfire@gmail.com
X-KDE-PluginInfo-Name=com.github.zren.simpleweather
X-KDE-PluginInfo-Version=7
X-KDE-PluginInfo-Website=https://github.com/Zren/plasma-applet-simpleweather
X-KDE-PluginInfo-Category=Environment and Weather
X-KDE-PluginInfo-Depends=
