snippet col "Color"
{color$0}
endsnippet

snippet rgb "Color RGB"
{color$0.rgb}
endsnippet

snippet par "Parenthesis"
($1)$2
endsnippet

snippet brac "Bracket"
[$1]$2
endsnippet

snippet cbrac "Curly Bracket"
{$1}$2
endsnippet

snippet quot "Quotation"
"$1"$2
endsnippet

snippet quo "Quotation 1"
'$1'$2
endsnippet
