* {
    xbg:    #ececea;
    xfg:    #4e4b42;
    x0:     #ececea;
    x1:     #93756c;
    x2:     #9f7e7a;
    x3:     #997e66;
    x4:     #78979a;
    x5:     #6c937c;
    x6:     #667c99;
    x7:     #4e4b42;
    x8:     #e6d4d0;
    x9:     #93756c;
    x10:     #9f7e7a;
    x11:     #997e66;
    x12:     #78979a;
    x13:     #6c937c;
    x14:     #667c99;
    x15:     #4e4b42;
}
