* {
    xbg:    #33353a;
    xfg:    #4a4d54;
    x0:     #33353a;
    x1:     #aa7d7b;
    x2:     #65a6aa;
    x3:     #c2b895;
    x4:     #7a87b1;
    x5:     #c8acc4;
    x6:     #a8abc7;
    x7:     #c3c3c3;
    x8:     #4a4d54;
    x9:     #aa7d7b;
    x10:    #65a6aa;
    x11:    #c2b895;
    x12:    #7a87b1;
    x13:    #c8acc4;
    x14:    #a8abc7;
    x15:    #c3c3c3;
}
